[submodule "texmf/tex/latex/TeX-templates"]
	path = texmf/tex/latex/TeX-templates
	url = https://github.com/sjijon/TeX-templates.git
[submodule ".mozilla/firefox/arkenfox/arkenfox-upstream"]
	path = .mozilla/firefox/arkenfox/arkenfox-upstream
	url = https://github.com/arkenfox/user.js.git
